body {
    /* font-family: 'Mingzat', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Moonrocks', cursive;
    padding: 0;
    margin: 0;
}

.highlights {
    color: orange;
}

.anchor-button-style {
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 22px;
    color: white;
}

.paragraph-style {
    font-size: 14px;
    padding-bottom: 20px;
}

.p-h1-center {
    text-align: center;
}

.main-h1 {
    font-size: 50px;
    color: white;
}

.main-p {
    color: white;
}