* {
    padding: 0;
    margin: 0;
}

body {
    /* font-family: 'Mingzat', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Rubik Moonrocks', cursive; */
    padding: 0;
    margin: 0;
}

.bg-image {
    /* background-image: url(images/levi-meir-clancy-Y2oE2uNLSrs-unsplash.jpg);
    background-repeat: no-repeat; */
    /* background-position: left; */
    /* height: 100vh; */
    color: white;
    background-size: cover;
    align-items: center;
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-bottom-margin {
    margin-bottom: 100px;
}

.common-margin {
    margin: auto;
}

.section4-div-style {
    width: 35%;
    margin: auto;
}

.image-style {
    width: 100%;
}

.common-h1-style {
    font-size: 30px;
    padding: 10px 10px;
    margin: 10px auto;
}

.side-by-side {
    display: flex;
}

.donate-amount {
    padding: 40px;
    font-size: 20px;
    background-color: rgb(244, 244, 251);
    margin: auto;
    border-radius: 5px;
    font-weight: 900;
    color: rgb(144, 144, 144);
}

.donate-amount-orenged {
    padding: 40px;
    font-size: 20px;
    background-color: rgb(250, 207, 191);
    border: 2px solid orangered;
    margin: auto;
    border-radius: 5px;
    font-weight: 900;
    color: orangered;
}

.extra-padding {
    padding-bottom: 40px;
}

.highlights {
    color: orange;
}

.anchor-button-style {
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border: 0;
}

.paragraph-style {
    font-size: 14px;
    padding-bottom: 40px;
}

.p-h1-center {
    text-align: center;
}

.main-h1 {
    font-size: 70px;
    color: rgb(255, 255, 255);
}

.main-p {
    color: rgb(255, 255, 255);
}

.h2